# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.egg-info/
__pycache__/
*/__pycache__/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.pyd

# Executables
*.exe
*.out
*.app

# Data files
*.dat
/Debug/
/build/
PyFishPack/build/
reports/
# Eclipse IDE files
.cproject
.project
.settings
